
body {
  font-family: 'Raleway', sans-serif;
  background-image: url("tree_background.png");
  background-size: cover;
}

h1 {
  padding: 60px;
  margin: 0;
  color: white;
  font-size: 55px;
  text-align: left;
}

img {
  height: 75px;
  width: 75px;
  position: absolute;
  top: 60px;
  left: 350px;
}

h3 {
  float: right;
  font-size: 55px;
  padding: 10px;
  color: #196B7F;
}

h5 {
  color: #196B7F;
  padding: 20px;
}

 div, .hightcharts-container {
  /* background-color: #BBCBCB; */
  border-radius: 8px 8px 8px 8px;
  /* height: 500px; */
}

#random-quote {
  font-size: 35px;
  text-align: center;

  color: white;
  background-color: rgba(188, 231, 132, 0.8);
  padding: 20px;


}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 5;
}

.column {
    width: 33.33%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: white;
    display: inline;
}

.containerTab {
    color: #BBCBCB;
    background-color: #BBCBCB;
}

/* form */
#forms-window {
  color: white;
  float: none;
  font-size: 14px;
}

#travel-menu-item {
  background-color: #5DD39E;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 2px;
}

#travel-form {
  background-color: #5DD39E;
  padding: 20px;
  border-radius: 8px 8px 8px 8px;
  height: 375px;
}

#food-menu-item {
  background-color: #E07A5F;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 2px;
}

#food-form {
  background-color: #E07A5F;
  padding: 20px;
  border-radius: 8px 8px 8px 8px;
  height: 350px;
}

#lifestyle-menu-item {
  background-color: #BCE784;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 2px;
}

#lifestyle-form {
  background-color: #BCE784;
  padding: 20px;
  border-radius: 8px 8px 8px 8px;
  height: 350px;
}

#result-menu-item {
  background-color: #BBCBCB;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 2px;
}

input[type=submit] {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 3px;
  color: #BBCBCB;
  font-weight: bold;
  font-size: 14px;

}

.food-button {
  display: block;
  /* position: absolute; */
}


footer {
  text-align: left;
  color: white;
  padding: 6px;
}
